@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<h3>Volunteer Convergence</h3>
<p>This is a sample demonstrating the tools and techniques that have worked well for me in creating ASP.NET Core apps that use server side rendering.</p>
<p>The tools and techniques demonstrated are:</p>
<ul>
    <li>Libraries</li>
    <ul>
        <li>HtmlTags</li>
        <li>FluentValidation</li>
        <li>Automapper</li>
        <li>Mediatr</li>
    </ul>
    <li>Techniques</li>
    <ul>
        <li>AJAX posts for streamlined server side validation</li>
        <li>Fine grained projection from database with AutoMapper</li>
        <li>Optimistic concurrency checks with RowVersion</li>
    </ul>
</ul>
